{% extends "bootstrap/base.html" %}
{% from "_render_content.html" import render_content %}

{% block title %}
Python Address Database
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">

        <div class="form-group col-md-4 col-md-offset-3 align-center">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="{{ url_for('address.index') }}" method="POST">

                 {{ form.csrf_token }}
                 {% for field in form %}
                    {% if field.name != 'csrf_token' %}
                        {{ render_content(field) }}
                    {% endif %}
                 {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
    </div>

</div>
{% endblock %}