{% extends "bootstrap/base.html" %}
{% from "_render_content.html" import render_content %}

{% block title %}
Python Address Database - XML Page
{% endblock %}

{% block navbar %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="{{ url_for('address.index') }}">Mayur Pande - Python Web Address Book - Brain Tec</a>
    </div>

         <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><a class="nav-link" href="{{ url_for('xml_input.xml_file') }}">XML Input</a></li>

      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="align-center text-center">
        {% if warning %}
            <div class="alert alert-info" role="alert">
                {{ warning }}
            </div>

        {% else %}
            {% for value in errors.values() %}
                {% for error in value %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            {% endfor %}
            {% for name in success %}
                <div class="alert alert-success" role="alert">
                    {{ name }}, was added successfully.
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>

</div>
{% endblock %}